.search {
  width: 15%;
  background-color: rgba(255, 255, 255, 0.8);
  align-self: flex-start;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  input,
  button {
    margin-bottom: 1rem;
  }
  input {
    text-align: center;
  }
  button {
    cursor: grab;
  }
  .search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
