footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  .footerWrapper {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: purple;
      }
    }
  }
}

@media (max-width: 768px) {
  p,
  a {
    font-size: 0.75rem;
  }
}

@media (max-width: 600px) {
  p,
  a {
    font-size: 0.5rem;
  }
}

@media (max-width: 500px) {
  p,
  a {
    font-size: 0.25rem;
  }
}

@media (max-width: 400px) {
  p,
  a {
    font-size: 0.15rem;
  }
}
