nav {
  background-color: black;
  .nav-bar {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    .nav-home {
      text-decoration: none;
      color: white;
    }
    .nav-links {
      display: flex;
      align-items: center;
      .nav-item {
        margin-right: 1rem;
        text-decoration: none;
        color: white;
        &:hover {
          color: white;
          padding: 2px;
          background-color: purple;
          border-radius: 5px;
        }
      }
      .nav-button {
        border: 1px solid black;
        border-radius: 5px;
        &:hover {
          background-color: purple;
          color: white;
        }
      }
    }
  }
}
