.pageContainer {
  .wrapper {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2.5rem 0;
    h1 {
      margin: 0;
    }
    .landingLinks {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .link {
        border: solid black 1px;
        padding: 1rem;
        h2 {
          margin: 0;
        }
      }
    }
  }
  footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    .footerWrapper {
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
    }
  }
}
