.loginWrapper {
  width: 22.5%;
  margin: 5rem auto 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1rem 0 1.5rem;
  border-radius: 5px;
  h1 {
    margin: 0 0 1rem;
  }
  form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 75%;
      text-align: center;
      margin-bottom: 1rem;
    }
    button {
      width: 25%;
      border: 1px solid black;
      border-radius: 5px;
      &:hover {
        background-color: purple;
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .loginWrapper {
    width: 30%;
  }
}

@media (max-width: 600px) {
  .loginWrapper {
    width: 37.5%;
  }
}

@media (max-width: 500px) {
  .loginWrapper {
    width: 42.5%;
  }
}

@media (max-width: 400px) {
  .loginWrapper {
    width: 47.5%;
  }
}
