.new-report-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem auto 0;
  h1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 5px;
    margin: 0;
  }
  .home-map {
    height: 460px;
    width: 460px;
    margin: 1rem auto 0;
    border: 1rem solid #1a2656;
    border-radius: 50%;
  }
  #info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin: 0;
    }
    tbody {
      display: flex;
      flex-direction: column;
      align-items: center;
      #info-title {
        font-weight: bold;
      }
      button {
        border: 1px solid black;
        border-radius: 5px;
        &:hover {
          background-color: purple;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .new-report-map {
    .home-map {
      height: 420px;
      width: 420px;
    }
  }
}

@media (max-width: 501px) {
  .new-report-map {
    .home-map {
      height: 400px;
      width: 400px;
    }
  }
}

@media (max-width: 451px) {
  .new-report-map {
    .home-map {
      height: 320px;
      width: 320px;
    }
  }
}

@media (max-width: 375px) {
  .new-report-map {
    .home-map {
      height: 300px;
      width: 300px;
    }
  }
}
